- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages
  apt:
    upgrade: dist

- name: Install common packages
  apt:
    name:
      - curl
      - git
      - htop
      - ca-certificates
      - python3-apt
    state: present
